@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
 --color-light: hsl(0, 0%, 100%);
 --color-bluelight: hsl(212, 45%, 89%);
 --color-littledarkblue:hsl(216, 15%, 48%);
 --color-darkblue: hsl(218, 44%, 22%);
}
body{
    background-color: var(--color-bluelight);
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-weight: 400; 
}
main{
    max-width: 1440px;  /* Ensures it doesn’t exceed 1440px */
    max-height: 960px;/* Ensures it doesn’t exceed 960px */
    margin: 0 auto;     /* Centers the content */
    padding: 1.25rem; 
    display: flex;
    justify-content: center; 
   align-items: center; /* Center vertically */
   height: 100vh; /* Full viewport height */     /* Adds some space around */
}
.container{
  display: grid;
  background-color: var(--color-light);
  padding:  1rem 1rem 2.5rem 1rem;
  gap: 1.5rem; 
  opacity: 1; /* 100% Opacity */
  border-radius: 1.25rem; /* 20px */
  box-shadow: 0 12px 20px -6px rgba(0, 0, 0, 0.15); /* Soft bottom shadow */
}
.image-box{
  width: 18rem;
  height: 18rem;
}
.image-box img{
  max-width: 100%;
  max-height: 100%;
}
img{
  object-fit: cover;
  opacity: 1;
  border-radius: 10px;
}
.content{
  display: flex;
  flex-direction: column; /* Stacks elements vertically */
  gap: 1rem; /* Adds spacing between items */
  align-items: center; /* Centers items horizontally */
  padding: 1rem 0;
  max-width: 18rem; /* 288px in rem */
  width: 100%; /* Allows it to stretch inside a container */
  min-height: 8.1875rem; /* 131px in rem */
  height: auto; /* Adapts to content */
}
.heading-box{
  max-width: 16rem;  /* 256px → rem (16px = 1rem) */
  width: 100%;     /* Fills the container */
  height: auto;
}
.heading-box p{
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 1.375em;
  line-height: 1.2;
  text-align: center;
  color: var(--color-darkblue);
  margin: 0;
}
.content_Para{
  max-width: 16rem;  /* 256px → rem (16px = 1rem) */
  width: 100%;       /* Fills the container */
  height: auto;
}

.content_Para p{
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  letter-spacing:0.0125em;
  line-height: 1.4;
  text-align: center;
  color: var(--color-littledarkblue);
  margin: 0;
}