<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="abeleton-footer">Ableton</h1>
    <div class="footer-col">
     <section class="footer-colOne">
    <div class="footer-links">
         <a>Register Live, Push or More</a>
         <a>About Ableton</a>
         <a>Jobs</a>
         </div>
           <div class="footer-links">
 <span>Education</span>
  <a href="">Offers for students and teachers</a>
 <a href="">Ableton for the Classroom</a>
 <a href="">Ableton for Colleges and Universities</a>
   </div>


<div class="footer-links">
        <span>Sign up to our newsletter</span>
        <p>Enter your email address to stay up to date with the latest offers, tutorials, downloads, surveys and more.</p>
       <div class="SignUp">
        <input type="search" name="search" id="search" placeholder="Email Address">
       <button>Sign Up</button>
       </div>
    </div>

     </section>
     <section class="footer-colOne">
      <div class="footer-links">
 <span>Community</span>
  <a href="">Find Ableton User Groups</a>
 <a href="">Find Certified Training</a>
 <a href="">Become a Certified Trainer</a>
   </div>

   <div class="footer-links">
            <label for="language">Language and Location</label>
           <form>
    <select name="language" id="language">
       <option value="english">English</option>
    </select>
    <select name="location" id="location">
        <option value="location">Location</option>
    </select>
    </form>
    </div>
     </section>
    </div>
</body>
</html>