<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
     <header>
      <div class="left-side-header">
        <img src="/ableton-page/assets/img/route.png" alt="icon">
        <a>Live</a>
        <a>Push</a>
        <a>Move</a>
        <a>Link</a>
        <a>Shop</a>
        <a>Packs</a>
        <a>Help</a>
        <a id="more">More
             <img id="more-img" src="./assets/img/icons/plus.png" alt="plus" ></a>
      </div>
      <div class="right-side-header">
        <a class="highlight">Try Live 12 for free</a>
        <a>log in or register</a>
      </div>
    </header>
</body>
</html>