
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}
:root{
      --grey-color:#C8C8C8	;
    --high-light-blue:#0000ff;
}
#abeleton-footer{
    width:70%;
    margin: auto;
    padding-bottom: 2rem;
}
.footer-col{
    width: 70%;
    display:flex;
    flex-direction: column;
    margin:auto;
    gap:0.5rem;
}
.footer-links > a{
    all:unset;
}
.footer-colOne{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-links{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    line-height: 1.5;
}
.SignUp{
      display: flex;
      flex-direction: row;
      margin-top: 0.5rem;
}
.SignUp > input{
    border: none;
    background:	var(--grey-color);
}
.SignUp > button{
    border: none;
    background-color:var(--high-light-blue) ;
    color: white;
}